$color-red: #e63946;
$color-floral-white: #f1faee;
$color-light-blue: #a8Dadc;
$color-queen-blue: #457B9d;
$color-dark-blue: #1d3557;
$color-sheen-green: #70c1b3;
$color-white: #ffffff;
$color-black: #000000;
