.theatre-wrapper {
  display: flex;
  justify-content: space-around;
}

.movie-container {
  width: calc(100%/3 - 20px);
}

.theatre-container {
  width: calc(2 * (100%/3) - 20px);
}

.pad-top-100 {
  padding-top: 100%;
}

@media only screen and (max-device-width: 599px) {
  .theatre-wrapper {
    flex-direction: column;
  }

  .movie-container {
    width: 100%;
  }

  .theatre-container {
    width: 100%;
  }
}
