@import '../../styles/variables';

.seat-item {
  width: 80px;
  padding: 10px;
  margin: 5px 10px;
}

.seat-button {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid $color-dark-blue;
  cursor: pointer;

  &:hover {
    background: $color-floral-white;
  }

  &.selected {
    color: $color-white;
    background: $color-dark-blue;
  }
}
