.theatre-item {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0px;
  margin: 20px;
  box-shadow: 0 0px 22px -10px rgba(0, 0, 0, 0.3);
  transition-property: transform, box-shadow;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-out, ease-out;
  transition-delay: 0s, 0s;
  border-radius: 20px;

  &:hover {
    transform: translateY(2px);
    box-shadow: 0 7px 36px -10px rgba(0, 0, 0, 0.3);
  }
}
